<header id="header">

    <nav class="navbar navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                <a class="navbar-brand" routerLink="">
                    <img src="/assets/img/logotrans.png " />
                </a>


            </div>


            <div class="collapse navbar-collapse navbar-right ">
                <ul class="nav navbar-nav ">
                    <li class="active "><a routerLink="">AquaTecnologias</a></li>
                    <li><a routerLink="servicios">Servicios</a></li>
                    <li><a routerLink="productos">Productos</a></li>
                    <li><a routerLink="marcas">Marcas</a></li>
                    <li><a routerLink="">Our Team</a></li>
                    <li><a routerLink="contacto">Contacto</a></li>
                </ul>
            </div>
        </div>
        <!--/.container-->
    </nav>
    <!--/nav-->
</header>