<div id="feature">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h3>Tratamiento de Agua Comercial e Industrial</h3>
                <p>Contamos con una extensa gama de servicios y productos
                    <br>relacionados con el giro de Purificación de Agua</p>
            </div>
            <div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
                <div class="text-center">
                    <div class="hi-icon-wrap hi-icon-effect">
                        <i class="fa fa-tint"></i>
                        <h2>Plantas Purificadoras</h2>
                        <p>Venta e Instalacion de Plantas Purificadoras, Despachadores de Ventana.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
                <div class="text-center">
                    <div class="hi-icon-wrap hi-icon-effect">
                        <i class="fa fa-flask"></i>
                        <h2>Servicios Técnicos</h2>
                        <p>Rehabilitacion, calibracion de bombas dosificadoras, Análisis microbiológicos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
                <div class="text-center">
                    <div class="hi-icon-wrap hi-icon-effect">
                        <i class="fa fa-wrench"></i>
                        <h2>Mantenimiento Preventivo y correctivo</h2>
                        <p>Contamos con mas de 12 años de experiencia en el Ramo</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
                <div class="text-center">
                    <div class="hi-icon-wrap hi-icon-effect">
                        <i class="fa fa-shopping-cart"></i>
                        <h2>Venta de Insumos y Productos</h2>
                        <p>Materiales filtrantes, Tanques para salmuera, Bombas de superficie y más</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>