<div id="contact">
    <div class="container">
        <div class="text-center">
            <h3>Contactenos</h3>
            <p>LLene el formulario para hacer contacto con nosotros</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
                <h2>Horarios de atención</h2>
                <ul>

                    <!-- <li><i class="fa fa-clock-o fa-2x"></i> {{ infoPagina.info.horario1}}</li> -->
                    <li><i class="fa fa-clock-o fa-2x"></i> {{ paginaInfo.horario1}}</li>
                    <hr>
                    <li><i class="fa fa-clock-o fa-2x"></i> {{ paginaInfo.horario2}} </li>

                </ul>

            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.4s">
                <h2>{{ paginaInfo.titulo}}</h2>
                <ul>
                    <li><i class="fa fa-home fa-2x"></i> {{ paginaInfo.direccion}}</li>
                    <hr>
                    <li><i class="fa fa-phone fa-2x"></i> {{ paginaInfo.telefono}} </li>
                    <hr>
                    <li><i class="fa fa-mobile fa-2x"></i> {{ paginaInfo.celular}} </li>
                    <hr>
                    <li><i class="fa fa-envelope fa-2x"></i> {{ paginaInfo.email }}</li>
                </ul>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage">Error</div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Por favor agregue un nombre valido" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Correo Electónico" data-rule="email" data-msg="Por favor agregue un correo electrónico valido" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Tema" data-rule="minlen:4" data-msg="Por favor agregue un tema valido" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Escriba un Mensaje más especifico" placeholder="Mensaje"></textarea>
                        <div class="validation"></div>
                    </div>

                    <button type="submit" class="btn btn-theme pull-left">ENVIAR</button>
                </form>
            </div>
        </div>
    </div>
</div>